@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root{
  --bgd-grad: linear-gradient(135deg, #203D65, #224373,#264C85,#2A589E,#2B5AA3,#2D60AF,#346FCD,#387BE7);
  --emt-bgd: #1a2540;
}

body {
  background: var(--bgd-grad);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

main {
  background-color: #fff;
  border-radius: 16px;
  padding: 24px 35px;
  width: 380px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
}

.register .container, 
.login .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.register h1,
.login h1{
  text-align: center;
  line-height: 1;
}

.register .icon-register, 
.login .icon-login {
  width: 52px;
  height: 52px;
  background-color: var(--emt-bgd);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px;
}

.register .create-account, 
.login .login-message{
  text-align: center;
}

.register svg,
.login svg {
  width: 28px;
  fill: #fffff0;
}

.register button, 
.login button {
  width: 100%;
  padding: 11px;
  background: var(--emt-bgd);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 4px;
  transition: background 0.2s;
  font-family: inherit;
}

.register button:hover,
.login button:hover {
  background-color: #0f172a;
}

.register form,
.login form{
  display: flex;
  flex-direction:column;
  gap: 10px;
}

.register form input, 
.login form input{
  width: 100%;
  padding: 10px 14px;
  border: 1.5px solid #e2e8f0;
  border-radius: 8px;
  font-size: 13px;
  outline: none;
}

.register .register-div,
.login .login-div{
  display: flex;
  flex-direction: column;

}

.register .register-div label, 
.login .login-div label {
  font-size: 14px;
  font-weight: 600;
  color: #1e293b;
  display: block;
  margin-bottom: 6px;
}

.fa-arrow-left {
  font-size: 25px;
  cursor: pointer;
}

.register .go-login,
.login .go-register{
  text-align: center;
  margin-top: 10px;
}

.register .go-login span,
.login strong{
  cursor: pointer;
  color: #2563eb;
  font-weight: 600;
}


#register {
  display: none;
}

.login strong{
  cursor: pointer;
  color: #2563eb;
}

.login strong:hover{
  text-decoration: underline
}

.login i{
  position: relative;
  left: 280px;
  top: -26px;
  cursor: pointer;
  color: var(--emt-bgd);
}


